.question_image {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 3.0rem auto;
}
.question_image form {
  display: flex;
  justify-content: center;
  align-items: center;
}
